[defaults]
inventory = inventories/prod/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent
force_color = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
